.AuctionFixture-container {
  margin: 2rem auto;
  padding: 2rem 2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.AuctionFixture-header {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}

.AuctionFixture-title {
  font-size: 2rem;
  color: #004e92;
  font-weight: bold;
  margin: 0;
}

.AuctionFixture-back-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 14px;
  margin-right: 12px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  border: 2px solid #007BFF;
  color: #007BFF;
}

.AuctionFixture-back-btn:hover {
  color: #ffffff;
}

.AuctionFixture-filter-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  width: 40%;
}

.AuctionFixture-select-bar {
  height: 40px;
  border-radius: 10px;
  margin-top: 12px;
  text-align: center;
}

.AuctionFixture-search-bar {
  border-radius: 10px;
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.AuctionFixture-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}

.AuctionFixture-card {
  background: linear-gradient(135deg, #f0f4ff, #ffffff);
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px #a9a2a2;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 2px 1px #a9a2a2;
  transition: all 0.35s ease-in-out;
  border: 1px solid gray;
}

.AuctionFixture-card:hover {
  transform: translateY(-8px) scale(1);
  background: linear-gradient(145deg, #e0f7fa, #ffffff);
  border-color: #007BFF;
  box-shadow: 2px 2px 2px 1px #ffffff;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.AuctionFixture-card:hover {
  animation: pulse 1s;
}

.AuctionFixture-card-body {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  gap: 10px;               
  padding: 10px;
}

.AuctionFixture-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #007BFF;
}

.AuctionFixture-name {
  font-size: 18px;
  margin: 0;
  color: #00021f;
  text-align: center;
}

.AuctionFixture-date {
  font-size: 14px;
  color: #00021f;
  text-align: center;
}

.AuctionFixture-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #dde1e6;
  border-top: 1px solid #000;
}

/*--------------------------------responsive------------------------------*/

@media (min-width: 1440px) {
  .AuctionFixture-container {
    padding: 1.5rem;
    width: 95%;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .AuctionFixture-container {
    padding: 1.25rem;
    width: 92%;
  }
  .AuctionFixture-filter-bar {
    width: 70%;
  }

  .AuctionFixture-name {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .AuctionFixture-container {
    padding: 0.75rem;
    width: 95%;
  }
   .AuctionFixture-filter-bar {
    width: 80%;
    gap: 10px;
  }

  .AuctionFixture-select-bar{
    width: 40%;
  }
  .AuctionFixture-search-bar {
    width: 60%;
  }

  .AuctionFixture-logo {
    width: 70px;
    height: 70px;
  }

  .AuctionFixture-card-body {
    gap: 8px;
  }

  .AuctionFixture-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .AuctionFixture-container {
    padding: 0.75rem;
    width: 95%;
  }

  .AuctionFixture-title {
    font-size: 1.5rem;
  }

  .AuctionFixture-filter-bar {
    width: 80%;
    gap: 10px;
  }

  .AuctionFixture-select-bar{
    width: 40%;
  }
  .AuctionFixture-search-bar {
    width: 60%;
  }

  .AuctionFixture-card-body {
    padding: 8px;
  }

  .AuctionFixture-logo {
    width: 60px;
    height: 60px;
  }

  .AuctionFixture-name {
    font-size: 16px;
  }

  .AuctionFixture-date {
    font-size: 13px;
  }
  .AuctionFixture-back-btn {
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 6px;
  }
}

@media (max-width: 480px) {
  .AuctionFixture-container {
    padding: 0.5rem;
    width: 90%;
  }
  .AuctionFixture-back-btn {
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 5px;
  }

  .AuctionFixture-title {
    font-size: 1.3rem;
  }

 .AuctionFixture-filter-bar {
    width: 80%;
    gap: 8px;
    font-size: 13px;
  }

  .AuctionFixture-select-bar{
    width: 50%;
  }
  .AuctionFixture-search-bar {
    width: 80%;
  }

  .AuctionFixture-logo {
    width: 50px;
    height: 50px;
  }

  .AuctionFixture-name {
    font-size: 14px;
  }

  .AuctionFixture-date {
    font-size: 12px;
  }

  .AuctionFixture-card-body {
    gap: 6px;
    padding: 6px;
  }
}
@media (max-width: 320px) {
  .AuctionFixture-container {
    padding: 0.5rem;
    width: 90%;
  }
    .AuctionFixture-back-btn {
    font-size: 10px;
    padding: 5px 8px;
    border-radius: 4px;
  }

  .AuctionFixture-title {
    font-size: 1rem;
  }

 .AuctionFixture-filter-bar {
    width: 60%;
    gap: 6px;
    font-size: 11px;
  }

  .AuctionFixture-select-bar{
    width: 40%;
  }
  .AuctionFixture-search-bar {
    width: 70%;
  }

  .AuctionFixture-logo {
    width: 40px;
    height: 40px;
  }

  .AuctionFixture-name {
    font-size: 10px;
  }

  .AuctionFixture-date {
    font-size: 10px;
  }

  .AuctionFixture-card-body {
    gap: 5px;
    padding: 5px;
  }
  .AuctionFixture-card {
   width: 95%;
  }
}
